:root {
  --color-Pink: hsl(322, 100%, 66%);
  --color-Light-Pink: hsl(321, 100%, 78%);
  --color-Light-Red: hsl(0, 100%, 63%);
  --color-Very-Dark-Cyan: hsl(192, 100%, 9%);
  --color-Very-Pale-Blue: hsl(207, 100%, 98%);

  /* ### Primary */
  --Pink-hue: 322;
  --Pink-sat: 100%;
  --Pink-light: 66%;

  --Light-Pink-hue: 321;
  --Light-Pink-sat: 100%;
  --Light-Pink-light: 78%;

  --Light-Red-hue: 0;
  --Light-Red-sat: 100%;
  --Light-Red-light: 63%;

  /* ### Neutral */

  --Very-Dark-Cyan-hue: 192;
  --Very-Dark-Cyan-sat: 100%;
  --Very-Dark-Cyan-light: 9%;

  --Very-Pale-Blue-hue: 207;
  --Very-Pale-Blue-sat: 100%;
  --Very-Pale-Blue-light: 98%;

  --ff-Open-Sans-Body: "Open Sans", sans-serif;
  --ff-Poppins-Headings: "Poppins", sans-serif;

  --fw-Open-Sans-slim: 400;
  --fw-Open-Sans-normal: 600;
  --fw-Poppins-or-Open-Sans-bold: 700;

  --box-shadow: 0px 1rem 1rem -1rem rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Header //////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  gap: 1rem;
}

.logo {
  height: 2rem;
  width: auto;
}

.btn-secondary {
  max-width: 8rem;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--color-Pink);
  color: var(--color-Pink);
  background-color: white;
  /* position: relative; */
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.btn-secondary:hover {
  border: 1px solid var(--color-Light-Pink);
  color: var(--color-Light-Pink);
}

/* Used to figure out height of button - 2rem */

/* .btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
} */

/* /////////////////////////////////////////////////////////////////////////////// */
/* Section 1 ///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 6rem 2rem;
}

h1 {
  font-family: var(--ff-Poppins-Headings);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
  color: var(--color-Very-Dark-Cyan);
}

p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Open-Sans-normal);
  max-width: 55ch;
  color: var(--color-Very-Dark-Cyan);
}

.btn-primary {
  max-width: 20rem;
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  background-color: var(--color-Pink);
  color: white;
  outline: none;
  border: none;
  box-shadow: var(--box-shadow);
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-Light-Pink);
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Section 2 ///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.section-2 {
  height: auto;
  width: var(--width);
  padding: 0 2rem;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Section 3 ///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.section-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  padding: 6rem 0;

  padding-bottom: 15rem;
  background-image: url(./images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.section-3-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.number {
  font-size: 3rem;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
  color: var(--color-Very-Dark-Cyan);
}

.section-3-card p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Open-Sans-slim);
  color: hsl(
    var(--Very-Dark-Cyan-hue),
    var(--Very-Dark-Cyan-sat),
    var(--Very-Dark-Cyan-light),
    0.65
  );
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Section 4-6 /////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.section-4,
.section-5,
.section-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  gap: 6rem;
  width: 100%;
}

.section-4-text,
.section-5-text,
.section-6-text,
.section-4-img,
.section-5-img,
.section-6-img {
  flex: 1;
}

.section-4-text,
.section-5-text,
.section-6-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.section-4-text h2,
.section-5-text h2,
.section-6-text h2 {
  font-size: 2rem;
  font-family: var(--ff-Poppins-Headings);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
}

.section-4-text p,
.section-5-text p,
.section-6-text p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Open-Sans-normal);
}

.section-4 {
  background-color: var(--color-Very-Pale-Blue);
}

.section-5 {
  padding: 15rem 5rem;
  background-image: url(./images/bg-section-bottom-desktop-1.svg),
    url(./images/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
  flex-direction: row-reverse;
}

.section-6 {
  background-color: var(--color-Very-Pale-Blue);
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Section 7 ///////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

.section-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 20rem 0;
  background-image: url(./images/bg-section-bottom-desktop-2.svg),
    url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
}

.section-7 h2 {
  font-size: 2rem;
  font-family: var(--ff-Poppins-Headings);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Footer //////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: var(--color-Very-Dark-Cyan);
  color: white;
  padding-top: 5rem;
}

footer .logo {
  filter: invert(42%) sepia(93%) saturate(0%) hue-rotate(168deg)
    brightness(2040%) contrast(219%);
}

footer p {
  color: white;
}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  max-width: 85%;
  width: 100%;
  justify-content: space-between;
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
}

.left-footer p,
.left-footer div {
  max-width: 40ch;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Open-Sans-normal);
}

.social-media {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.social-media i {
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.social-media i:hover {
  --Very-Dark-Cyan-light: 50%;
  color: hsl(
    var(--Very-Dark-Cyan-hue),
    var(--Very-Dark-Cyan-sat),
    var(--Very-Dark-Cyan-light)
  );
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.right-footer h2 {
  font-family: var(--ff-Poppins-Headings);
  font-weight: var(--fw-Poppins-or-Open-Sans-bold);
  text-transform: uppercase;
}

.right-footer p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fw-Open-Sans-normal);
  max-width: 43ch;
}

form {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

form .email {
  flex: 1.5;
  border-radius: 6px;
  /* border: none; */
  outline: none;
  padding: 1rem;
}

form .btn-primary {
  flex: 1;
  border-radius: 6px;
}

.attribution {
  margin-top: 5rem;
  text-align: center;
  font-size: 11px;
  /* text-align: center; */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* Media Queries ////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 850px) {
  .section-3 {
    flex-direction: column;
    gap: 5rem;
    background-image: url(./images/bg-section-top-mobile-1.svg);
  }
  .section-5 {
    background-image: url(./images/bg-section-bottom-mobile-1.svg),
      url(./images/bg-section-top-mobile-2.svg);
  }
  .section-7 {
    background-image: url(./images/bg-section-bottom-mobile-2.svg),
      url(./images/bg-footer-top-mobile.svg);
  }

  .section-4,
  .section-5,
  .section-6 {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 1rem;
  }
  .section-4-text,
  .section-5-text,
  .section-6-text {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .section-4,
  .section-5 {
    padding: 10rem 1rem;
  }
  .section-7 {
    padding: 10rem 1rem;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column-reverse;
    gap: 6rem;
  }
  form {
    flex-direction: column;
    align-items: flex-end;
  }
  form .email {
    width: 100%;
    padding: 1rem;
  }
  form .btn-primary {
    max-width: 50%;
  }
}
